* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #10acd3;
  font-family: 'Open Sans', sans-serif;
  background: url('../img/jeremy-ricketts-9573-unsplash.png') no-repeat center
    center/cover;
}

.bkgd-img-mask {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(178, 193, 243, 0.3);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  z-index: 100;
  height: 100vh;
  width: 90%;
  margin: 0 auto;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  height: 100%;
}

li {
  text-align: center;
  margin: 1rem 0;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #eee;
  padding: 1rem 1rem;
  width: 100%;
  font-size: 2rem;
}

.logo-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.logo {
  grid-row: 1;
  grid-column: 1/3;
  font-family: 'Poiret One', cursive;
  font-size: 3.3rem;
  color: #4888b9;
  font-weight: bolder;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative; */
}

.toggler {
  position: relative;
  z-index: 1000;
  height: 60px;
  width: 100%;
  opacity: 50%;
}

.toggler:checked ~ .navbar {
  visibility: visible;
  transform: scaleX(1);
  transform: scaley(1);
  width: 100%;
  height: 100%;
  transition-duration: 250ms;
}

.logo-span {
  font-family: 'Poiret One', cursive;
  font-size: 3.3rem;
  text-align: right;
  color: #4888b9;
  font-weight: bolder;
}

.address {
  display: block;
  color: #aaa;
  text-align: right;
  font-size: 0.57rem;
  /* margin-bottom: 2rem; */
}

.plug {
  color: #888;
  line-height: 1.4;
  padding: 0.5rem;
  /* margin-bottom: 2rem; */
}

.hero-img img {
  width: 100%;
  height: 100%;

  border-radius: 7px;
  box-shadow: 5px 5px 18px #000;
}

.navbar {
  transform-origin: bottom;
  /* transform: scaleX(0); */
  transform: scaleY(0.75);

  background-color: rgba(0, 0, 0, 0.7);
  width: 0;
  height: 100%;
  margin-left: 0 auto;

  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
